@model RoleModel
@{
    ViewData["Title"] = "NewRole";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="container mt-4">
    <form method="post" enctype="multipart/form-data">
        <div>
            <h1>Add New Role</h1>
        </div>
        <div class="row mb-2">
            <div class="col-md-6">
                <label for="lastName" class="form-label">Role Name</label>
                <input type="text" asp-for="Name" class="form-control" id="username" placeholder="Role Name">
                <span asp-validation-for="Name" class="text-danger"></span>
                <b class="text-success"> @ViewData["result"] </b>
               
            </div>
        </div>

        <div class="mb-3">
            <input type="submit" class="btn btn-primary" id="addEmployeeBtn" value="Add Role" asp-action="CreateRole">
        </div>
    </form>
</div>

