@model List<UsersDTO>
@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Users List</h1>

<form method="post" >
<table class="table table-bordered table-striped table-hover">

    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>

    <tbody>
            @foreach (UsersDTO item in Model)
        {            
        <tr>
            <td>@item.Username</td>
            <td>
                <input type="submit" value="Add / Remove Role" class="btn btn-outline-primary" asp-action="GetAllRole" asp-route-userId="@item.Id">
            </td>
        </tr>
        }

    </tbody>

</table>
</form>